!!!
%html
  %head
  %body
    = Heroku::Nav::Provider.html
    %p Hello!
    %p You are using resource #{@resource.inspect}
    %p You logged in with email #{@email}

    Here is your request history
    %ul
      - @requests.each do |request| 
        - req_data = JSON.parse(request[:params])
        %li
          = req_data['REQUEST_METHOD'] 
          = req_data['PATH_INFO'] + (req_data['QUERY_STRING'].empty? ? '' : '?' + req_data['QUERY_STRING'])
          -if request[:time]
            = request[:time]
            %br
          -if request[:mods]
            = request[:mods]
            %br
          = request[:params]
          %br
    
