!!!
%html
  %head
  %body
    = Heroku::Nav::Provider.html
    %p Hello!
    %p You are using resource #{@resource.inspect}
    %p You logged in with email #{@email}

    Here is your request history
    %ul
      - @requests.each do |request| 
        %li
          = request[:params]['REQUEST_METHOD'] 
          = request[:params]['PATH_INFO'] 
          %br
          = request[:params]
    
